{% extends 'MTV/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}


<main>
  <section class="py-2 pt-5 text-center container">
    <div style="position : relative;  margin: auto; filter:brightness(85%);
    display:flex; justify=content:center; flex-direction:column;" id="slide" class="img-box col-md-10">
      <img src="https://my-chachacha-test-bucket.s3.ap-northeast-2.amazonaws.com/images/High_car1.jpg" class="slide1 img-fluid mb-4" style="width : 1224px; max-height : 600px;">
      <img src="https://my-chachacha-test-bucket.s3.ap-northeast-2.amazonaws.com/images/High_car2.jpg" class="slide1 img-fluid mb-4" style="width : 1224px; max-height : 600px;">
      <img src="https://my-chachacha-test-bucket.s3.ap-northeast-2.amazonaws.com/images/High_car3.jpg" class="slide1 img-fluid mb-4" style="width : 1224px; max-height : 600px;">
      <img src="https://my-chachacha-test-bucket.s3.ap-northeast-2.amazonaws.com/images/High_car4.jpg" class="slide1 img-fluid mb-4" style="width : 1224px; max-height : 600px;">
      <div style="height : 45px; color : white; width:100%; max-width:1224px; transform : translate(-50%, -50%)
      display:flexbox; margin-top : -6%;"
      class="fs-3 bg-light bg-dark bg-gradient corousel-caption" id="comment"></div>
    </div>
    <div class="row py-lg-4">
      <div class="col-lg-6 col-md-8 mx-auto mt-2 mb-0">
          <form class="d-flex" method="POST" action="{% url 'MTV:search' %}">
            {% csrf_token %}
            <input class="form-control me-3 fw-bold fs-5" style = "border-radius : 10px;" type="search" placeholder="차량 검색" aria-label="Search"
            name="keyword">
            <button class="btn btn-outline-primary" style = "padding-bottom : 9px; border-radius : 10px;" type="submit"><span class="fw-bold">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </span></button>
          </form>
      </div>
    </div>
    
  </section>
        {% if Car_List %}
        <div class="album py-5 bg-white ">
          <div class="text-end pe-3 text-primary pt-2" style=" height : 40px; width : 68%; margin:-40px 16% 16px 16%; font-size:23px;">
            <span class="text-muted fw-bold" style="font-size:21px;">가격순</span>
            {% if check == "priceup" %}
              <i class="fa-solid fa-circle-chevron-up text-success"></i>
            {% else %}
              <a href="{% url 'MTV:Sort_Main' man="priceup"%}"><i class="fa-solid fa-circle-chevron-up sort_btn"></i></a> 
            {% endif %}
            {% if check == "pricedown" %}
              <i class="fa-solid fa-circle-chevron-down text-success" style="margin-left:-4.5px;"></i>
            {% else %}
              <a href="{% url 'MTV:Sort_Main' man="pricedown"%}"><i class="fa-solid fa-circle-chevron-down sort_btn" style="margin-left:-4.5px;"></i></a>
            {% endif %}
            <span class="text-muted fw-bold" style="font-size:21px;">연식순</span> 
            {% if check == "ageup"%}
              <i class="fa-solid fa-circle-chevron-up text-success"></i>
            {% else %}
              <a href="{% url 'MTV:Sort_Main' man="ageup"%}"><i class="fa-solid fa-circle-chevron-up sort_btn"></i></a>
            {% endif %}
            {% if check == "agedown"%}
              <i class="fa-solid fa-circle-chevron-down text-success" style="margin-left:-4.5px;"></i>
            {% else %}
              <a href="{% url 'MTV:Sort_Main' man="agedown"%}"><i class="fa-solid fa-circle-chevron-down sort_btn" style="margin-left:-4.5px;"></i></a>
            {% endif %}
            <span class="text-muted fw-bold" style="font-size:21px;">주행거리순</span>
            {% if check == "kiloup"%}
              <i class="fa-solid fa-circle-chevron-up text-success"></i>
            {% else %}
              <a href="{% url 'MTV:Sort_Main' man="kiloup"%}"><i class="fa-solid fa-circle-chevron-up sort_btn"></i></a>
            {% endif %}
            {% if check == "kilodown"%}
             <i class="fa-solid fa-circle-chevron-down text-success" style="margin-left:-4.5px;"></i>
            {% else %}
             <a href="{% url 'MTV:Sort_Main' man="kilodown"%}"><i class="fa-solid fa-circle-chevron-down sort_btn" style="margin-left:-4.5px;"></i></a>
            {% endif %}
            <span class="text-muted fw-bold ms-3" style="font-size:21px; margin-right:-2px;">초기화</span>
            <a href="{% url 'MTV:main' %}"><i class="fa-solid fa-arrows-rotate sort_btn"></i></a>
          </div>
          <div class="container mb-5">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
      {% for Car in Car_List %}
            <div class="col" id="car_content">
              <div class="card shadow " style="overflow:hidden;">
                <div style="overflow:hidden;">
                <img id="car_img" class="card-img-top" width="100%" height="290" src="https://my-chachacha-test-bucket.s3.ap-northeast-2.amazonaws.com/images/{{Car.img}}.png" > 
                </div>
                      <div class="card-body" style="z-index:10; overflow:hidden;">
                        <p class="fw-bold mb-0" id="car_title">{{Car.name}}</p>
                        <p class="mb-2" id="car_sub">담당자 : {{Car.manager.name}}</p>
                        <p style="font-size:14px"class="text-muted mb-2">연식 : {{Car.age}} | 주행거리 : {{Car.kilo}}km</p>
                        <p class="text-primary fs-5 fw-bold">{{Car.price|intcomma}} 만원</p>
                        <div class="d-flex justify-content-end align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-primary fs-5 fw-bold">
                              <a href="/MTV/{{Car.id}}/">상세 보기</a></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
      {% endfor %}
          </div>
         </div>
        </div>
    {% else %}
      <h3 class="text-center" style="background-color: #f5f5f5;"><span style="font-weight: bold;">등록된 데이터가 존재하지 않습니다.</span></h3>
    {% endif %}
  
  
      
</main>
<script>
  var index = 0;   //이미지에 접근하는 인덱스
  var comment = ["자동차와 기름만 있으면 어디든지 갈 수 있어", "새차를 왜 사냐 중고차를 두대 사지", "차차차 차차차 차차차차 차차차", "탑건 내 인생영화"];
  var text_num = Math.floor(Math.random() * comment.length);
  console.log(comment.length);
 



    window.onload = function(){
        slideShow();
    }
    
    function slideShow() {
    var i;
    var x = document.getElementsByClassName("slide1");  //slide1에 대한 dom 참조
    
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";   //처음에 전부 display를 none으로 한다.
    }
    index++;
    if (index > x.length) {
        index = 1;  //인덱스가 초과되면 1로 변경
    }   
    if (text_num > (comment.length-1)) {
      text_num = 0;  //인덱스가 초과되면 1로 변경
    }   
    x[index-1].style.display = "block";  //해당 인덱스는 block으로
    
    const element = document.getElementById('comment');
    element.innerText = comment[text_num];
    text_num++;
    setTimeout(slideShow, 8000);   //함수를 4초마다 호출
    }
</script>
{% endblock%}