{% extends "../board_base.html" %}
{% block content %}
<section class="board_detail-block">
  <div class="container mt-3">
  <div class="card border-dark mb-3">
    <div class="card-header">
      <h4 class="pt-1">{{object.title}}</h4>
      {% if object.modify_date %}
        <p class="pt-1">Created by {{ object.author}} on {{ object.modify_date}}</p>
      {% else %}
        <p class="pt-1">Created by {{ object.author}} on {{ object.create_date}}</p>
      {% endif %}
    </div>

    <div class="card-header">
      {% if object.file_upload %}
      <a href="{{ object.file_upload.url}}" class="text-decoration-none text-muted" role="button" download>
        첨부파일 : <i class="fa-solid fa-file-lines me-2"></i>{{ object.get_FileName}}
      </a>
      <a href="{{ object.file_upload.url}}" class="text-decoration-none text-muted" role="button" download>
        / {{ object.file_upload.name}} &lt- 는  보안상 좋지 않지
      </a>
      {%else%}
        <a class="text-decoration-none text-muted">첨부파일 : </a>
      {%endif%}
    </div>

    <div class="card-body text-dark">
      <p class="card-text">{{ object.content | linebreaksbr}}</p>
      {% comment %} 게시물 컨텐츠가 DB에 저장시 Enter나 Tab같은 문자를 인식하지 못하고
      한줄로 작성한다 -> Template filter 기능 사용 -> linebreaksbr
      -> 실제 DB에서 데이터를 불러올 때 한 줄로 저장되는데, escape 문자가
      포함이 되어 있기 때문에 해당 escape문자를 인식하는 기능 {% endcomment %}
      <div class="mt-4"></div>
    </div>

    <div class="card-footer d-flex justify-content-between">
      <a href="/" class="btn btn-outline-dark">목록</a>
      {% if user == object.author%}
      <span>
        <a href="{% url 'Board:board_update' object.id %}" class="btn btn-outline-dark">수정</a>
        <a href="#" class="btn btn-outline-dark delete" data-uri="{% url 'Board:board_delete' object.id%}">삭제</a>
        {% comment %} data-uri-> 뭐야이거 대충 url 패턴 실행하는 느낌
        Javascript confirm 태그와 호응하기 위해 사용{% endcomment %}
      </span>
      {% else %}
      <span>
        <a href="#" class="btn btn-outline-dark user_check">수정</a>
        <a href="#" class="btn btn-outline-dark user_check">삭제</a>
      </span>
      {% endif %}
    </div>
  </div>
  </div>
</section>
{% endblock %}

{% block script %}
<script type='text/javascript'>
  $(document).ready(function() {
    $(".delete").on('click', function() {
      if(confirm("정말로 삭제하시겠습니까?")) {
        location.href = $(this).data('uri');
      }
    });
  });

  $(document).ready(function() {
    $(".user_check").on('click', function() {
      alert("자신의 게시글만 수정 및 삭제가 가능합니다.")
    });
  });
</script>
{% endblock %}
